.full-match-modal{
    &__body{
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    &__text{
        text-align: center;
        text-wrap: pretty;
    }
}