@use "../variables" as *;

body {
    background-image: radial-gradient(circle, $dark-main 0%, $soft-main 50%, $ultra-soft-main 90%);
    min-height: 100vh;
    color: $color;
    font-weight: $font-regular;
}


::selection {
    background-color: $light-main;
    color: $color;
}