
// MAIN COLORS
$main: #331569;
$medium-main: #2a0f53;
$dark-main: #1f0d3f;


$light-main: #ba64fd;
$medium-light-main: #6438b7;

$soft-main: #4b2f71;
$ultra-soft-main: #615578;
// $a: #7657bf;
// SECONDARY COLORS
$blue: #bdbdff;

// COLORS AND VARIANT COLORS
$color: #fff;
$dark-color: #ccc;
$ultra-dark-color: #666;

// SUCCESS AND ERROR
$error: #ff3333;
$success: #33cc33;